@font-face {
  font-family: 'Branic';
  src: local('Branic'), url(../fonts/Branic.otf) format('otf');
}

@font-face {
  font-family: 'Anodina';
  src: local('Anodina'), url(../fonts/Anodina.otf) format('otf');
}
