@mixin addGradient {
  background: linear-gradient($beige, $beige) padding-box,
    linear-gradient(
        to right,
        #fc4778ff,
        #dc498dff,
        #bb4ba2ff,
        #9b4db7ff,
        #7a4ecbff,
        #5a50e0ff,
        #3952f5ff
      )
      border-box;
  background-size: 300% 300%;
  border: 2.75px solid transparent;
  animation: moveGradient 4s alternate infinite;
}
