@import 'global/styles/main';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1.2;
}

#root,
.App {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  font-family: 'Branic', serif;
  font-weight: 900;
}

p,
button {
  font-family: 'Anodina', sans-serif;
}

h3 {
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img {
  width: 100%;
  display: block;
}

button {
  width: 100%;
  background: $beige;
  border: 2.75px solid $primary;
  padding: 1rem;
  position: relative;
  color: inherit;
  outline: none;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    background: linear-gradient($beige, $beige) padding-box,
      linear-gradient(
          to right,
          #fc4778ff,
          #dc498dff,
          #bb4ba2ff,
          #9b4db7ff,
          #7a4ecbff,
          #5a50e0ff,
          #3952f5ff
        )
        border-box;
    background-size: 300% 300%;
    border: 2.75px solid transparent;
    border-radius: inherit;
    animation: moveGradient 4s alternate infinite;
  }
}

.App {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: $beige;
  overflow-y: scroll;

  @media (min-width: 768px) {
    padding: 2rem;
  }
}
